* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Just Another Hand', cursive;
}

body {
  background-image: url(../img/whirlpool.png);
  font-size: 2.250em;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 0.05em;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.05em;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .5em 0;
}

.main {
  text-align: center;
}

.content {
  text-align: center;
  max-width: 37.5em;
  margin: 0 3.125em;
}

.board {
  display: flex;
  flex-direction: column;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chalkboard {
  background-image: url('../img/blackboard.jpg');
  background-repeat: no-repeat;
  border: .8em solid brown;
  border-image-source: url('../img/wooden_frame.jpg');
  border-image-slice: 50 65;
  padding: .2em;
  color: white;
}

ol {
  list-style-position: inside;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.box {
  border: 0.04em solid white;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  font-size: 2.5em;
}

.row .box:first-child {
  border-left: none;
}

.row .box:last-child {
  border-right: none;
}

.row:first-child .box {
  border-top: none;
}

.row:last-child .box {
  border-bottom: none;
}

input[type=button] {
  font-size: .7em;
  border: 0.125em solid black;
  color: black;
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
  border-radius: 0.25em;
  text-decoration: none;
  background-color: white;
}

.hidden {
  display: none;
}
